/*CSS atoulous Camagru*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

#header {
	background: #333c4a;
	color: #f6f7d3;
	min-height: 10vh;
	width: 100%;
	padding: 1%;
	font-size: 1.5vh;
}

#container {
	min-height: 80vh;
	width: 100%;
	background: #f8fceb;
	background-size: 100%;
	padding: 1%;
	color: #333c4a;
}

#footer {
	background: #f6f7d3;
	position: fixed;
	width: 100%;
	min-height:10vh;
	text-align:right;
	padding: 1%;
	color: #333c4a;
}

#menu {
	float: left;
}

#account {
	float: right;
}

form {
	text-align:center;
	padding: 1%;
}

input {
	text-align:center;
	padding: 1%;
	margin: 1%;
}


input[type=submit] {
	background-color: #4CAF50;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: #f6f7d3;
}

input:hover {
	box-shadow: 1px 1px 10px #333c4a;
}

a {
	color: #f8fceb;
	text-decoration: none;
}

a:hover {
	color: white;
}

p {
}

h1  {
	font-size: 4vmin;
	color: #7dce94;
	text-align: center;
}

h3 {
	font-size: 2vmin;
	text-align:center;
	margin:1%;
	margin-top:1%;
}

ul {
	text-align: center;
	overflow: auto;
	display: flex;
	background: none;
	border-radius: 10px;
}

li {
	margin: 0.2%;
	list-style: none;
}

img:hover {
	box-shadow: 1px 1px 10px #333c4a;
}

img {
	background: #333c4a;
	border: 2px solid black;
	border-radius: 10px;
	width: 404px;
	height: 304px;
}

button {
	background: #333c4a;
	color: #f8fceb;
	border-radius: 4px;
	border:none;
	cursor:pointer;
	font-size: 15px;
	padding: 2px;
}

button:hover:enabled {
	background: #7dce94;
	box-shadow: 1px 1px 10px #333c4a;
}

button:hover {
}

#all {
	background: #333c4a;
	border: 2px solid #7dce94;
	border-radius: 10px;
}

#user {
	background: #333c4a;
	border: 2px solid #f3558e;
	border-radius: 10px;
}

#camera {
	position: relative;
	display: inline-flex;
	overflow: hidden;
}

#video {
	width: 404px;
	height: 304px;
	position:absolute;
	background: #333c4a;
	box-sizing: content-box;
	border-radius: 10px;
}

#canvas {
	width: 404px;
	height: 304px;
	box-sizing: content-box;
	border-radius: 10px;
	z-index: 10;
}

#filter {
	width: 404px;
	height: 304px;
	position:absolute;
	box-sizing: content-box;
	background: none;
	border: none;
	z-index: 20;
	box-shadow: 0px 0px 0px;
}

#filters {
	background: none;
	border: none;
	display: inline-block;
	height: 15vmin;
	width: 20vmin;
	cursor:pointer;
}

#button {
}

#comment {
	overflow: auto;
	padding:1%;
	font-size: 1.5vmin;
}

#form_delcom {
	padding: 0;
}

#submit_delcom {
	background:grey;
}

#add_comment {
	overflow: auto;
	padding: 1%;
	text-align:center;
	width: 25%;
	border: 1px solid #f6f7d3;
}

#addlike {
	padding: 0;
	margin: 0;
}
