/*CSS atoulous Camagru*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

#header {
	background: #333c4a;
	color: #f6f7d3;
	min-height: 10vh;
	width: 100%;
	padding: 1%;
	font-size: 1.5vh;
}

#container {
	min-height: 80vh;
	width: 100%;
	background: #f8fceb;
	background-size: 100%;
	padding: 1%;
	color: #333c4a;
}

#footer {
	background: #f6f7d3;
	position: fixed;
	width: 100%;
	min-height:10vh;
	text-align:right;
	padding: 1%;
	color: #333c4a;
}

#menu {
	float: left;
}

#account {
	float: right;
}

form {
	text-align:center;
	padding: 1%;
}

input {
	text-align:center;
	padding: 1%;
	margin: 1%;
}

input[type=submit] {
	background-color: #4CAF50;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: #f6f7d3;
}

a {
	color: #f8fceb;
	text-decoration: none;
}

p {
}

h1  {
	font-size: 4vmax;
	color: #7dce94;
	text-align: center;
}

h3 {
	font-size: 2vmax;
	text-align:center;
	margin:1%;
}

ul {
	text-align: center;
	overflow: auto;
	display: flex;
}

li {
	margin: 0.2%;
}
img {
	background: #333c4a;
	border: 2px solid black;
	border-radius: 10px;
}

#all {
	background: #333c4a;
	border: 2px solid #7dce94;
	border-radius: 10px;
}

#user {
	background: #333c4a;
	border: 2px solid #f3558e;
	border-radius: 10px;
}

#camera {
	position: relative;
}

#video {
	position:absolute;
	background: #333c4a;
	box-sizing: content-box;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}

#canvas {
	position:absolute;
	box-sizing: content-box;
	border: 2px solid #f3558e;
	border-radius: 10px;
	z-index: 10;
}

#button {
	padding-top: 320px;
	margin-left: 30px;
}

#comment {
	overflow: auto;
	padding:0.5%;
}

#form_delcom {
	padding: 0;
}

#submit_delcom {
	background:grey;
}

#add_comment {
	overflow: auto;
	padding: 1%;
	text-align:center;
	width: 25%;
	border: 1px solid #f6f7d3;
}

#addlike {
	padding: 0;
	margin: 0;
}
